<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Coffee_machine</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="display">
    <div class="container">
        <div class="coffee_header">
            <div class="buttons">
                <form action="{{ url_for('coffee_machine')}}" method="POST">
                        <button name="user_choice" value="espresso" class="button button1" >
                            <img src="{{ url_for('static', filename='button.png') }}">
                        </button>

                    <div class="coffee_header_buttons_text coffee_header_button_one_text">
                        <svg width="130px" height="130px" >
                            <path id="curve" d="M 0 30 C 0 30, 40 0, 70 30"></path>
                            <text class="text" font-size="15px" text-anchor="middle">
                                <textPath class="text__path" href="#curve" startOffset="50%">Espresso</textPath>
                            </text>
                        </svg>
                    </div>

                        <button name="user_choice" value="latte" class="button button2" >
                            <img src="{{ url_for('static', filename='button.png') }}">
                        </button>

                    <div class="coffee_header_buttons_text coffee_header_button_two_text">
                        <svg width="130px" height="130px">
                            <path id="curve" d="M 0 30 C 0 30, 40 0, 70 30"></path>
                            <text class="text" font-size="15px" text-anchor="middle">
                                <textPath class="text__path" href="#curve" startOffset="50%">Latte</textPath>
                            </text>
                        </svg>
                    </div>

                        <button name="user_choice" value="cappuccino" class="button button3" >
                            <img src="{{ url_for('static', filename='button.png') }}">
                        </button>

                    <div class="coffee_header_buttons_text coffee_header_button_three_text">
                        <svg width="130px" height="130px" >
                            <path id="curve" d="M 0 30 C 0 30, 40 0, 70 30"></path>
                            <text class="text" font-size="15px"  text-anchor="middle">
                                <textPath class="text__path" href="#curve" startOffset="50%">Cappuccino</textPath>
                            </text>
                        </svg>
                    </div>

                    <button name="report" value="report" class="report" >Report
                            <img src="{{ url_for('static', filename='button.png') }}">
                        </button>

                </form>
            </div>
            <div class="coffee_header_display">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul>
                                {% for message in messages %}
                                    <li><pre>{{ message | safe }}</pre></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                </div>

             <div class="coffee_header_details">
                <form action="{{ url_for('coffee_machine')}}" method="POST">
                    <button class="accept" type="submit" name="accept" value="accept">ACCEPT</button>
                    <button class="reset" type="submit" name="reset" value="reset">RESET</button>
                </form>
            </div>

            <div class="coffee_header_text">Please insert coins here ➡</div>
        </div>
        <div class="coffee_medium">
            <div class="coffee_medium_exit"></div>
            <div class="coffee_medium_cup"></div>
        </div>
        <div class="coffee_footer"></div>


        <form action="{{ url_for('coffee_machine')}}" method="POST">
        <table class="table">
               <tr>
                  <td><button name="budget" value="0.01" class="coins button_coin1" >
                            <img src="{{ url_for('static', filename='1gr.jpg') }}">
                        </button></td>

                   <td><button name="budget" value="0.02" class="coins button_coin1" >
                       <img src="{{ url_for('static', filename='2gr.jpg') }}">
                   </button></td>
               </tr>
               <tr>
                  <td><button name="budget" value="0.05" class="coins button_coin2" >
                            <img src="{{ url_for('static', filename='5gr.jpg') }}">
                        </button></td>

                   <td><button name="budget" value="0.1" class="coins button_coin2" >
                       <img src="{{ url_for('static', filename='10gr.jpg') }}">
                   </button></td>
               </tr>
                 <tr>
                  <td><button name="budget" value="0.2" class="coins button_coin3" >
                            <img src="{{ url_for('static', filename='20gr.jpg') }}">
                        </button></td>

                   <td><button name="budget" value="0.5" class="coins button_coin3" >
                       <img src="{{ url_for('static', filename='50gr.jpg') }}">
                   </button></td>
               </tr>
                <tr>
                  <td><button name="budget" value="1" class="coins button_coin4" >
                            <img src="{{ url_for('static', filename='1zl.jpg') }}">
                        </button></td>

                   <td><button name="budget" value="2" class="coins button_coin4" >
                       <img src="{{ url_for('static', filename='2zl.jpg') }}">
                   </button></td>
               </tr>
                    <tr>
                  <td><button name="budget" value="5" class="coins button_coin5" >
                            <img src="{{ url_for('static', filename='5zl.jpg') }}">
                        </button></td>

                   <td></td>
               </tr>
        </table>
        </form>
    </div>
    </div>
</body>
</html>